In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./Files/countries-by-area.txt")

In [6]:
data.head()

   rank                   country  area_sqkm  population_2013
0     1                    Russia   17075200        142833689
1     2                    Canada    9984670         35181704
2     3  United States of America    9826630        320050716
3     4                     China    9596960       1385566537
4     5                    Brazil    8511965        200361925

In [13]:
data['density'] = data['population_2013'] / data['area_sqkm']

In [14]:
data.head()

,rank,country,area_sqkm,population_2013,pop_density,density
0,1,Russia,17075200,142833689,0.119546,8.364979
1,2,Canada,9984670,35181704,0.283803,3.523572
2,3,United States of America,9826630,320050716,0.030703,32.569733
3,4,China,9596960,1385566537,0.006926,144.375567
4,5,Brazil,8511965,200361925,0.042483,23.538857

In [15]:
data.sort_values(by = ["density"], ascending = False).head(5)

    rank    country  area_sqkm  population_2013  pop_density     density
6      7      India    3287590       1252139596     0.002626  380.868538
34    35   Pakistan     803940        182142594     0.004414  226.562423
31    32    Nigeria     923768        173615345     0.005321  187.942584
3      4      China    9596960       1385566537     0.006926  144.375567
14    15  Indonesia    1919440        249865631     0.007682  130.176318

In [16]:
for index, row in data[:5].iterrows():
    print(row["country"])

Russia
Canada
United States of America
China
Brazil

data['density'] = (data['population_2013'] / data['area_sqkm'])
 
result = data.nlargest(5,'density')
 
for i in result['country']:
    print(i)